.heada_design{
    border: 2px solid blue;
    height: 10vh;
}
#body_part{
    border: 2px solid white;
    height: 90vh;
    display: flex;
    flex-direction: row;
}


#domain{
    border: 2px solid grey;
    width: 70%;
    height: 100%;

}

#co-domain{
    border: 2px solid red;
    width: 30%;
    height: 100%; 
}
